div{
    transition: all .5s linear; 
  -o-transition: all .5s linear; 
  -moz-transition: all .5s linear; 
  -webkit-transition: all .5s linear; 
}



@media screen and (max-width: 1024px){
    .sub-container.ui.grid{
        display: flex !important;
        flex-direction: column !important;
        border: 1px solid red;
    }
    .ui.column.grid>[class*="eleven wide"].column, .ui.grid>.column.row>[class*="eleven wide"].column, .ui.grid>.row>[class*="eleven wide"].column, .ui.grid>[class*="eleven wide"].column {
        width: 100%;
    }
    .sub-container.ui.grid .eleven.wide.column {
        width: 100% !important;
    }
    .sub-container.ui.grid .five.wide.column{
        width: 100% !important;
    }
}